body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  background-color: #999;
  font-weight: 500;
}

div {
  font-size: 30;
}

h1 {
  text-align: center;
}

div#style
{
  font-family: "Courier New", monospace;
  white-space: pre;
}
